body {
    background-color: black;
    font-family: sans-serif;
    margin: 40px;
    overflow-x: hidden;
    width: 95%;
    height: 80vh;
}
header{
  border: 2px solid #2bff2b;
  background-color: #000000;
  padding: 2rem;
  text-align: center;
  justify-content: space-between;
  font-size: 40px;
  border-radius: 0px;
  font-weight: 600;
  margin: 20px;
  word-spacing: 5px;
  cursor: pointer;
  transition: 0.3;
}
header:hover{
    transform: scale3d(1.03);
    background-color: #ffffff;
    color: black;
    box-shadow: 0 0 25px #2bff2b;
}
main{
    color: azure;
}
.about{
    color: #2bff2b;
    text-decoration: none;
}
.about:hover{
    transform: scale3d(1.03);
    color: black;
     background-color: #2bff2b;
     border-radius: 16px;
}
.active{
    color: #2bff2b;
    text-decoration: none;
}
.active:hover{
    transform: scale3d(1.03);
    color: black;
     background-color: #2bff2b;
     border-radius: 16px;
}
.contact{
    color: #2bff2b;
    text-decoration: none;
}
.contact:hover{
    transform: scale3d(1.03);
    color: black;
    background-color: #2bff2b;
    border-radius: 16px;
}
nav{
  display: flex;
  justify-content: center; 
  gap: 150px; 
}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}
p{
color: white;
font-weight: 400;
}
